<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Listagem de Gêneros</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/list.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="sb-nav-fixed">
<div th:replace="/admin/fragments/nav-footer.html :: nav"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main class="main-content">
            <h1> Aqui estão todos os gêneros! </h1>
            <table class="table table-hover table-responsive table-dark">
                <thead>
                <tr>
                    <th style="text-align: center" scope="col">#</th>
                    <th style="text-align: left" scope="col">Nome</th>
                    <th style="text-align: left" scope="col">Livros</th>
                    <th style="text-align: center" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="gender : ${genderList}">
                    <th style="text-align: center" scope="row" th:text="${gender.genderId}"></th>
                    <td style="text-align: left" th:text="${gender.name}"></td>
                    <td style="text-align: left" th:text="${gender.getBookTitles()}"></td>
                    <td style="text-align: center">
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="acoes" th:href="@{genders/details/{id}(id = ${gender.genderId})}">
                                <i style="color:lightblue" class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <a class="acoes" th:href="@{genders/delete/{id}(id = ${gender.genderId})}">
                                <i style="color:lightblue" class="fa-solid fa-trash"></i>
                            </a>
                            <a class="acoes" th:href="@{genders/update/{id}(id = ${gender.genderId})}">
                                <i style="color:lightblue" class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
        <footer th:replace="/admin/fragments/nav-footer.html :: footer"></footer>
    </div>
</div>
<style>
    .acoes {
        margin: 0 .5rem;
        color: #323539;
        padding: 0 .2rem;
    }
    .acoes:visited {
        color: #212529;
    }
</style>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>


</body>
</html>
