<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Cadastro de coleções</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/list.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<div th:replace="/admin/fragments/nav-footer.html :: nav"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main class="main-content">
            <form method="POST" action="#" th:action="@{/admin/collections/registration}" th:object="${collectionDto}" enctype="multipart/form-data">
                <input th:field="*{collectionId}" th:value="${collectionDto.collectionId}" type="number" hidden>
                <div class="form-group">
                    <label for="title">Título da Coleção *</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title" required>
                    <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                       th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    </p>
                    <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                       th:if="${duplicateTitleError}" th:text=${duplicateTitleError}>
                    </p>
                </div>
                <div class="form-group">
                    <label for="price">Preço da Coleção *</label>
                    <input type="number" min=1 step="0.01" th:field="*{price}" class="form-control" id="price" required>
                    <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                       th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                    </p>
                </div>
                <div class="form-group">
                    <label for="quantityInStock">Quantidade em Estoque *</label>
                    <input type="number" min=1 step="1" th:field="*{quantityInStock}" class="form-control" id="quantityInStock" required>
                    <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                       th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}">
                    </p>
                </div>
                <div class="form-group">
                    <label for="bookTitles">Livros que formam a coleção *</label>
                    <select multiple size=3 class="form-select" th:field="*{bookTitles}" id="bookTitles" required>
                        <option th:each="book : ${bookList}" th:text="${book.title}" th:value="${book.title}"></option>
                    </select>
                    <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                       th:if="${#fields.hasErrors('bookTitles')}" th:errors="*{bookTitles}">
                    </p>
                </div>
                <div class="form-group">
                    <label for="description">Descrição da Coleção * </label>
                    <textarea required class="form-control" th:field="*{description}" id="description" rows="5"></textarea>
                    <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                       th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    </p>
                </div>
                <div class="form-group">
                    <label for="image1">Foto 1 * </label>
                    <input type="file" accept="image/*" required class="form-control" th:field="*{image1}" id="image1">
                    <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                       th:if="${#fields.hasErrors('image1')}" th:errors="*{image1}">
                    </p>
                </div>
                <div class="form-group">
                    <label for="image2">Foto 2 </label>
                    <input type="file" accept="image/*"  class="form-control" th:field="*{image2}" id="image2">
                </div>
                <div class="form-group">
                    <label for="image3">Foto 3 </label>
                    <input type="file" accept="image/*"  class="form-control" th:field="*{image3}" id="image3">
                </div>
                <p style="margin-top: .5rem; padding: .5rem" class="alert alert-warning"
                   th:if="${imageUploadError}" th:text="${imageUploadError}">
                </p>
                <input type="checkbox" th:field="*{editing}" hidden>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </main>
        <footer th:replace="/admin/fragments/nav-footer.html :: footer"></footer>
    </div>
</div>

<style>
    .form-group {
        padding-bottom: 1rem;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>
